<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		
		<link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/bootstrap-theme.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/folio.css" type="text/css" />

		<title>My Professional Portfolio</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>

